<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
  </head>

  <body>
    <h1>Edit Guest Profile Page</h1>
    <h2> <%= guests.firstName1 %> <%= guests.lastName %></h1>
      

    <form action="/guestlist/<%= guests.id %>?_method=PUT" method="POST">
      <br />
      Wedding invite sent: <input type="checkbox" name="inviteSent" value="<%= guests.inviteSent %>" /><br/>
      <br />
      RSVP'd Yes: <input type="checkbox" name="rsvpRec" value="<%= guests.rsvpRec %>"/><br/>
      <br />
      Number of guests: <input type="text" name="count" value="<%= guests.count %>"/><br />
      <br />
      Wedding gift: <input type="text" name="weddingGift" value="<%= guests.weddingGift %>" /><br />
      <br />
      Wedding gift Thank You sent: <input type="checkbox" name="weddingThanks" value="<%= guests.weddingThanks %>"/><br/>
      <br />
      Shower gift: <input type="text" name="showerGift" value="<%= guests.showerGift %>"/><br />
      <br />
      Shower gift Thank You sent: <input type="checkbox" name="showerThanks" value="<%= guests.showerThanks %>"/><br/>
      <br />
      <input type="submit" value="Update Guest" />
      <br />
      </form>
    </form>

    <br /><br />
    <a href="/">Back to Homepage</a>
  </body>
</html>