<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guest List</title>
  </head>
  <body>
      <h1>Guest List Index</h1>
      <% for(let i = 0; i < guests.length; i++) { %>
        <li>
          <a href="/<%= guests[i].lastName %>"><%= guests[i].firstName1 %> <%= guests[i].lastName %></a>
          
          <form action="/<%= guests[i].lastname; %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Guest"/>
          
            <a href="/<%= guests[i].lastName; %>/edit">Edit Guest Profile</a>
          </br>
        </br>
          </form>
        </li>

        <% } %>

      <br/>
      <a href="/">Return Home</a>
      <br/>
    </nav>
  </body>
</html>
